
body{
  font-family: 'Roboto', sans-serif;
}
/* Cart */

.fa-solid, .fas {
  font-size: 40px;
}

.total-qty {
  position: absolute;
  height: 1rem;
  width: 1rem;
  background: white;
  color: black;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  line-height: 1rem;
  font-weight: 600;
  top: 1rem;
  right: 4.1rem;
  user-select: none;
}


.img__cart{
  width: 50px;
}

.container {
  padding: 2rem 0rem;
}

.fa-trash{
  font-size: 20px;
}

.price {
  margin-left: 1rem;
}

.modal-footer {
  padding-top: 0rem;
}

/* End Cart */
.search{
  padding-bottom: 40px;
}

.container{
    padding-top: 100px;
}

.card__item .card__image {
  padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
  }
  
.card__item .card__image .card-body .product__name {
    font-size: 14px;
    color: #b61984;
    font-weight: 600;
    text-transform: uppercase;
  }
  
.card__item .card__image .card-body .product__price {
    font-size: 24px;
    color: #191919;
    font-weight: 600;
  }
  
.card__item .card__image .card-body .card-text {
    font-size: 14px;
    color: #181818;
    font-weight: 400;
    line-height: 27px;
  }

  .card__item .card__image:hover {
    transition: 0.5s ease-out;
    box-shadow: 0 30px 30px -10px #00000033;
  }
